<h3>  ${message} ${name}</h3>
<style>
body {background-color:lightgray}
h6   {color:red}
</style>
 <form name="userdata1" id="login2" method="post" >
     <tr><td><input value="logout" type="submit"></td></tr>
  </form>