<h1>Login </h1>
<style>
body {background-color:lightgray}
h6   {color:red}
</style>
<form name="userdata" id="signup" method="post">
<table border="0" cellpadding="5" cellspacing="0" width="600">
   <tr> <td>Username:</td> <td><input id="username" name="username" maxlength="30" type="text"> </td></tr>
   <tr> <td>Password:</td> <td><input id="password" name="password" maxlength="30" type="text"> </td></tr>
    <tr><td><input value="Login" type="submit"></td></tr>
</table>
 <h6>${message}</h6>
 </form>
 <h6><a href="/signup"> Create An Account ???</a></h6>