<h1>Sign Up </h1>
<style>
body {background-color:lightgray}
h6   {color:red}
</style>
<h6>${name} ${message}</h6>
<form name="userdata" id="signup" method="post">
<table border="0" cellpadding="5" cellspacing="0" width="600">
   <tr> <td>Name:</td> <td><input id="name" name="name" type="text" ></td> </tr>
   <tr> <td>Username:</td> <td><input id="username" name="username" type="text"> </td></tr>
   <tr> <td>Password:</td> <td><input id="password" name="password" type="text"> </td></tr>
    <tr><td>Confirm Password:</td> <td><input id="confirmPassword" name="confirmPassword" type="text"><br></td></tr>
    <tr><td><input value="Sign Up" type="submit"></td></tr>
</table> 
 </form>
 <h5>Already have an Account? <a href="login">Login</a></h5>